[mysqld]
slow_query_log = 1 # slow query 활성화
slow_query_log_file = /var/log/slow.log # slow query 적재 위치
long_query_time = 2 # slow query 처리 기준
# log_queries_not_using_indexes = 1 # index 사용하지 않는 쿼리 기록
